/* ================================
FONTS
================================ */
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:500,900&display=swap");

/* ================================
   RESET
================================ */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block-start: 0;
	margin-block-end: 0;
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul,
li{
	list-style: none;
}

button{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

img{
	max-inline-size: 100%;
	display: block;
}

/* ================================
GRID LAYOUT
================================ */
.--page-layout > *,
[data-layout=full-width] > * {
  grid-column: content;
}
.--page-layout,
[data-layout=full-width] {
  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --popout-max-width: 96.25rem;
  --content-max-width: 70rem;
  /** TRACK SIZES **/
  --full: 1fr;
  --popout: minmax( 0, calc( ( var(--popout-max-width) - var(--content-max-width)) * 0.5 ) );
  --content: min( var(--content-max-width), 100%);
  display: grid;
  grid-template-columns: [full-start] var(--full) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--full) [full-end];
}
/** CLASSES **/
[data-layout=full] {
  grid-column: full;
}
[data-layout=full-start] {
  grid-column-start: full-start;
}
[data-layout=full-end] {
  grid-column-end: full-end;
}
[data-layout=popout] {
  grid-column: popout;
}
[data-layout=popout-start] {
  grid-column-start: popout-start;
}
[data-layout=popout-end] {
  grid-column-end: popout-end;
}
[data-layout=full-width] {
  grid-column: full;
}
[data-layout=full-content],
[data-layout=full-content] {
  padding-inline: var(--minimum-content-padding);
}

/* ================================
   VARIABLES
================================ */
:root {
  /* Colors */
  --main-color-slate-600: hsl(240, 10%, 57%);
  --color-cyan-600: hsl(192, 37%, 48%);
  --color-cyan-300: hsl(192, 90%, 77%);
  --color-purple-600: hsl(268, 34%, 53%);
  --color-purple-300: hsl(268, 100%, 86%);
  --color-slate-900: hsl(240, 21%, 20%);
  --color-white: hsl(0, 0%, 98%);
  --color-slate-300: hsl(240, 18%, 85%);
  /* Typography */
  --font-family-primary: "Red Hat Display", sans-serif;
  --font-size-primary: 1.125rem;
  /* Effects */
  --transition: 0.2s;
}

/* ================================
   LAYOUT
================================ */
body {
  min-block-size: 100vh;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  color: var(--main-color-slate-600);
  line-height: 1.5;
  font-weight: 500;
}
.wrapper {
  overflow: hidden;
  min-block-size: 100svh;
  display: flex;
  row-gap: 4rem;
  flex-direction: column;
}
/* ================================
   COMPONENTS
================================ */
.title {
  font-size: clamp(2rem, 1.748rem + 1.074vw, 2.5rem);
  font-weight: 900;
  line-height: 1.1;
  color: var(--color-slate-900);
}
.title--lg {
  font-size: clamp(2.5rem, 1.972rem + 2.254vw, 4rem);
}
.title--light {
  color: var(--color-white);
}
.button {
  flex-shrink: 0;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 900;
  color: var(--color-white);
  background-color: var(--color-purple-600);
  border-radius: 100vmax;
  transition: background-color var(--transition);
  cursor: pointer;
}
.button .span {
  padding-inline-start: 0.25rem;
  color: var(--color-cyan-300);
}
.button .span--purple {
  color: var(--color-purple-300);
}
.button--cyan {
  background-color: var(--color-cyan-600);
}
.page-number {
  position: relative;
  display: grid;
  place-content: center;
  margin-inline: auto;
  inline-size: 3.5rem;
  aspect-ratio: 1;
  font-size: 0.9375rem;
  font-weight: 900;
  border-radius: 50%;
  border: 0.0625rem solid var(--color-slate-300);
  background-color: var(--color-white);
}
.page-number::before {
  position: absolute;
  content: "";
  inset-block-end: 100%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 0.0625rem;
  block-size: 5rem;
  background-color: var(--color-slate-300);
}

/* ================================
HEADER
================================ */
.header {
  padding-block-start: 5rem;
}
.header__logo {
  inline-size: 8rem;
  margin-inline: auto;
}
.header__logo img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

/* ================================
MAIN
================================ */
.main > *:not(:last-child) {
  margin-block-end: 4rem;
}
.main > :last-child {
  margin-block-end: 7.5rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  column-gap: clamp(1.0625rem, 0.563rem + 1.596vw, 2rem);
  justify-content: space-between;
}
.hero__image {
  max-inline-size: 23.75rem;
  aspect-ratio: 380/327;
}
.hero__image:first-of-type {
  margin-inline-start: -1.5625rem;
}
.hero__image:last-of-type {
  margin-inline-end: -1.5625rem;
}
.hero__image img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
.hero__content {
  inline-size: min(100%, 30rem);
  padding: 1.5rem 0.9375rem;
  text-align: center;
}
.hero__content > *:not(:last-child) {
  margin-block-end: 2rem;
}
.hero__actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.gallery {
  padding-block-start: clamp(7rem, 6.472rem + 2.254vw, 8.5rem);
  padding-inline: 2rem;
  text-align: center;
}
.gallery > *:not(:last-child) {
  margin-block-end: 4rem;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1rem, 0.648rem + 1.502vw, 2rem);
}
.gallery__item {
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}
.gallery__item img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.gallery__content {
  margin-inline: auto;
  max-inline-size: 34rem;
}
.gallery__content .title {
  margin-inline: auto;
  max-inline-size: 27.8125rem;
}
.gallery__content .title:not(:last-child) {
  margin-block-end: 2rem;
}
.gallery__label {
  font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--color-cyan-600);
}
.gallery__label:not(:last-child) {
  margin-block-end: 1rem;
}

/* ================================
   FOOTER
================================ */
.footer {
  position: relative;
  display: grid;
  margin-block-start: auto;
  background-color: hsla(192, 37%, 48%, 0.9);
}
.footer img {
  position: absolute;
  z-index: -1;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.footer .page-number {
  margin-block-start: -1.6875rem;
}
.footer__content {
  display: grid;
  grid-template-columns: 1.1fr 1fr auto;
  column-gap: 3.125rem;
  row-gap: 1.5rem;
  align-items: start;
  padding: 6.125rem 2rem;
  color: var(--color-white);
}
.footer__content .footer__text,
.footer__content .button {
  justify-self: end;
}
@media (max-width: 55em){
  .footer__content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer__content .button {
    justify-self: center;
  }
}
@media (max-width: 47.99875em){
  .header {
    padding-block-start: 4rem;
  }
  .hero {
    grid-template-columns: repeat(2, 1fr);
    row-gap: clamp(3rem, 1.569rem + 6.107vw, 4.5rem);
  }
  .hero__content {
    grid-column: span 2;
    order: 1;
    padding-block: 0;
  }
  .hero__content > *:not(:last-child) {
    margin-block-end: 1.5rem;
  }
  .hero__actions {
    flex-wrap: wrap;
  }
  .gallery__content {
    max-inline-size: 31.5rem;
  }
  .gallery__text {
    font-size: 1rem;
  }
  .footer__content {
    padding-block: 4rem;
  }
}
@media (max-width: 37.5em){
  .gallery__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34.375em){
  .gallery > *:not(:last-child) {
    margin-block-end: 3.4375rem;
  }
}
@media (any-hover: hover), (pointer: fine){
  .button:hover {
    background-color: hsl(268, 55%, 71%);
  }
  .button--cyan:hover {
    background-color: hsl(192, 54%, 64%);
  }
}
@media (prefers-reduced-motion: reduce){
	*,
	*::before,
	*::after {
		animation-duration: 0s !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important;
	}
}